<h1><%= t('.edit_answer') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<%= render 'form', answer: @answer %>

<%= link_to t('admin.tests.test.Show'), @answer %> |
<%= link_to t('helpers.link.back'), admin_question_path(@answer.question) %>
