<p>
  <% @test.questions.each do |question| %>
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>
  <%= link_to t('admin.tests.test.Show'), test_questions_path(@test, question) %>
  <%= link_to t('admin.tests.test.edit'), edit_admin_answer_path(@test, question) %>
  <%= link_to t('admin.tests.test.delete'), admin_test_questions_path(question),
              method: :delete,
              data: { confirm: t('admin.tests.test.confirm') } %>
<% end %>
</p>