<p>
  <strong><%= t('.title') %>:</strong>
  <%= @question.title %>
</p>

<p>
  <strong><%= t('helpers.label.question.body') %>:</strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %></h2>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('admin.tests.test.edit'), edit_admin_question_path(@question) %>
<%= link_to t('helpers.link.back'), admin_test_path(@question.test) %>