<div class="row mt-4">
  <h1><%= t('.header') %></h1>

  <p>
    <%= link_to t('.new_test'), new_admin_test_path %> |
    <%= link_to 'Gists', admin_gists_path %>
  </p>

  <%= render 'shared/errors', resource: @test %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sort-by-title pointer">
          <%= t('tests.index.title')  %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('tests.index.level') %></th>
        <th><%= t('tests.index.question_count') %></th>
        <th><%= t('tests.index.author') %>:</th>
        <th colspan="5"><%= t('.action') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>