<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.question_count') %> </th>
    <th><%= t('.author') %>:</th>
  </tr>

  <%= render @tests %>
</table>