<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<%= render 'questions/index' %><br><br>

<%= link_to 'Add new question', new_test_question_path(@test) %>

<%= link_to 'Edit', edit_test_path(@test) %>
<%= link_to 'Back', tests_path %>



